body{
    background-color: azure;
    color: rgb(255, 255, 255);
}
.rt{
    float: right;
    background-color: rgb(255, 0, 0, 0.493);
    width: 660px;
    max-width: 100%;
    margin: 0 -7px;
    margin-top: -7.9px;
    padding: 20px;
    position: relative;
    box-shadow: 0 0 20px 1px rgb(66, 63, 63);
    height: 617px;
}
#f_titulo{
    text-align: center;
    margin-top: 20px;
    color: rgb(255, 255, 255);
}
#email1, #pass1, #ingresar1{
    display: block;
    width: 60%;
    font-size: 1.3em;
}
#email1{
    margin: 20px 150px;
    margin-bottom: 0px;
}


#pass1{
    margin: 0px 150px;
    width:50% ;
    padding-left: 15px;
    position: absolute;
    margin-top: -40px;
    z-index: 20px;
    color: rgba(0, 0, 0, 0.363);
    
}
#con{
    font-size: 23px;
    font-family: cursive;
    margin: 60px 150px
}
#ingresar1{
    margin: 0 150px;
    margin-top: 70px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    padding: 10px 20px;
    cursor: pointer;
    border: none;     
    border-radius: 12%;
}
#es{
    font-size: 23px;
    font-family:cursive;
    margin: 9px 150px;
}
#img{
    float: left;
}
#e{
    color: white;
}
#ini{
    width: 50%;
    margin: 23px 297px;
    
}
